body {
    background-color: orangered

}

h1 {
    color: white;
    text-align: center;
}

header {
    background: black;
    border-bottom-style: groove;
    border-top-style: groove;

}

img {
    margin-left: 45%;
    width: 8%;
}

nav{
    background-color: black;
    border-bottom-style: groove;
    border-top-style:groove; 
    width: 100%;
}

#logo {
    margin-left: 0%;
    width: 10%;
}

.links {
    text-align: center;
    margin-bottom: -5%;
}

h3 {
    margin-right: 14%;
}

a {
    margin-left: 20%;
    color: white;
    
    
}

.form {
    text-align: center;

}

aside {
    background: black;
    color: white;
    float: left;
    height: 423px;
    width: 32%;
    border-top-style: groove;
    border-bottom-style: groove;

}
section {
    float: right;
    height: 423px;
    width: 67%;
    background: black;
    border-top-style: groove;
    border-bottom-style: groove;
    color: orangered;
}

p {
    color: orangered;
    text-align: center;
    margin-top: 20%;
}

form {
    margin-top: 3%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
